{% extends "layout.njk"%}

{% block content %}
		<div class="banner">
				<div class="center">
						<div class="title">
								<h1>As melhores receitas</h1>
								<p>Aprenda a construir os melhores pratos com receitas criadas por proficionais do mundo inteiro</p>
						</div>
						<img src="/assets/chef.png" alt="chefe">
				</div>
		</div>

		<div class="content">
				<div class="center">
						<h1>Mais acessadas</h1>
						<div class="recipes">
								{% for receipe in item %}
										<div class="recipe" id="/assets/burger.png">
												<img src="{{receipe.image}}" alt="Receita">
												<h2>{{receipe.title}}</h2>
												<p>{{receipe.author}}</p>
										</div>
								{% endfor %}
						</div>
				</div>
		</div>

		<div class="modal-overlay">
				<div class=" modal">
						<div class="modal-content">
								<img src="" alt="Receita">
								<strong>Asinhas de frango ao barbecue</strong>
								<p>por Vania Steroski</p>
								<a class="close-modal">Fechar modal</a>
						</div>
				</div>
		</div>

{% endblock %}