{% extends "layout.njk"%}

{% block head %}
		<title>404 - Foodfy</title>
{% endblock %}

{% block content %}
		<div id="sobreContent" class="content">
				<div class="center">
						<div class="notFound">
								<h1 class="error">404</h1>
								<img src="/assets/404.png" alt="Receita">
								<h2 class="message">Ops, página não encontrada!!!</h2>
						</div>
				</div>
		</div>
{% endblock %}